@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Comic+Neue&family=Days+One&family=Lilita+One&family=Nunito+Sans:wght@300&family=Unbounded:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Days+One&family=Lilita+One&family=Unbounded:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* TIPOGRAFIA 
font-family: 'Nunito Sans', sans-serif;
font-family: 'Unbounded', cursive;
*/
/* BODY */
.body {
  width: 100%;
  height: auto;
  background-image: url(../assets/foto/fondo.jpg);
  background-repeat: repeat-x;
  background-size: cover;
  flex-wrap: wrap; }

/* LOGO DE WATSSAPP */
.varWatt {
  position: fixed;
  line-height: 55px;
  bottom: 30px;
  right: 1%;
  z-index: 100; }

.varWatt img {
  width: 140px; }

/* PAGINA INICIO BARRA DE NAVEGACION */
.header {
  width: 100%;
  height: auto;
  background-color: #0018EF; }

.dropdown-menu {
  background-color: #0018EF; }

.imgLogo {
  width: 100px;
  height: 100px; }

.navbar-nav a {
  font-size: 22px;
  color: white; }

/* PAG INICIO SECCION-1 */
.seccion-1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%; }

/* TITULO REGALOS EXCLUSIVOS Y PERSONALIZADOS*/
.titulo-regalos h1 {
  color: #50004C;
  font-style: italic;
  font-weight: inherit;
  font-size: 50px;
  padding: 20px; }

/* PAGINA INICIO SECCION-2 */
.seccion-2 {
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.sec2-presentacion img {
  max-width: 100%;
  height: auto; }

/* PAGINA INICIO SECCION-3 */
.seccion-3 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  padding-top: 30px;
  padding-bottom: 8%; }

.novedades {
  font-family: "Nunito Sans", sans-serif;
  color: black;
  font-size: 40px;
  font-weight: bolder; }

/* CIRCULO TAZA - REMERA - ALMOHADON */
.seccion-3 img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border-style: solid;
  border-color: cornflowerblue;
  border-width: 3px; }

.seccion-3 p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito Sans", sans-serif;
  color: black;
  font-size: 25px;
  font-weight: bolder; }

.carousel-item {
  transition: none; }

/***** sector 1 ******/
.sec1-quienessomos {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 200px;
  gap: 492px;
  margin-top: 1%;
  margin-bottom: 5%; }

/***** sector 2 ******/
.sec2-quienessomos, .sec3-quienessomos {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6%; }

.textoLogo {
  font-family: "Nunito Sans", sans-serif;
  color: black;
  font-size: 40px;
  font-weight: bolder;
  color: #50004C; }

.foto-quienessomos {
  width: 100%;
  height: auto;
  margin: 0; }

/******* sector 3****** */
.sec3-quienessomos {
  gap: 0; }

.sec3-quienessomos p {
  width: 100%;
  height: auto;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bolder;
  color: black;
  font-size: 36px;
  line-height: 60px;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 8%; }

.sec3-quienessomos p::first-letter {
  color: #50004C;
  font-size: 40px; }

/* sector 1 */
.sec1-contacto {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 200px;
  gap: 555px;
  flex-wrap: wrap;
  margin-top: 1%;
  margin-bottom: 5%; }

/* sector 2 */
.sec2-contacto {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-left: 150px;
  flex-wrap: wrap;
  margin-top: 5%; }

.sec2-contacto p {
  font-family: "Nunito Sans", sans-serif;
  color: black;
  font-size: 25px;
  font-weight: bolder; }

.varContactowatt {
  width: 150px;
  height: 150px; }

/* sector 3 */
.sec3-contacto {
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  padding: 3%; }

.varAddress {
  font-family: "Nunito Sans", sans-serif;
  color: black;
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 8%; }

.sec3-mapa {
  max-width: 100%;
  height: auto;
  border-width: 2px;
  border: solid #0a521f;
  margin-bottom: 5%; }

.sec1-productos {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 5%; }

.sec1-productos h2 {
  margin-left: 200px; }

/* seccion2 */
.sec2-productos {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 5%; }

.card {
  padding: 0;
  margin: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none; }

.card p {
  margin: 5px; }

.btn {
  background-color: #88d0f1; }

.card a {
  font-family: "Nunito Sans", sans-serif;
  color: black;
  font-size: 25px;
  font-weight: bolder;
  font-size: 15px; }

.sec2-productos p {
  font-family: "Nunito Sans", sans-serif;
  color: black;
  font-size: 25px;
  font-weight: bolder;
  font-size: 15px;
  display: flex;
  justify-content: center; }

.prod-img {
  display: flex;
  width: 280px;
  height: 290px;
  border: solid 5px #f5b2df; }

.sec1-fecescpeciales {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 200px;
  margin-top: 1%;
  margin-bottom: 5%;
  gap: 467px; }

/* seccion2 */
.sec2-fecescpeciales {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 5%; }

.sec2-fecescpeciales p {
  font-family: "Nunito Sans", sans-serif;
  color: black;
  font-size: 25px;
  font-weight: bolder;
  font-size: 15px;
  display: flex;
  justify-content: center; }

.esp-img {
  display: flex;
  width: 280px;
  height: 290px;
  border: solid 5px #40dae6; }

.grid-footer {
  width: 100%;
  height: auto;
  background-color: #EDBFB5;
  align-items: center;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto; }

.grid-instagram {
  grid-column: 1; }

.grid-redes {
  grid-column: 2; }

.grid-face {
  grid-column: 3; }

/* LOGO DE INSTAGRAM */
.varInstagram {
  width: 60px;
  height: 60px; }

/* LOGO DE FACEBOOK */
.varFacebook {
  width: 60px;
  height: 60px; }

.redes {
  color: #50004C;
  font-family: "Unbounded", cursive;
  font-size: 25px;
  padding: 20px;
  padding-right: 20px; }

@media (max-width: 1024px) {
  /* *******************************PAGINA INICIO*****/
  /* TITULO REGALOS EXCLUSIVOS Y PERSONALIZADOS*/
  .titulo-regalos h1 {
    font-size: 40px; }
  .novedades {
    font-size: 35px; }
  .seccion-3 p {
    font-size: 22px; }
  /* *******************************PAGINA INICIO QUINES SOMOS*/
  /* sector 1 */
  .textoLogo {
    font-size: 37px; }
  /* sector 3 */
  .sec3-quienessomos p {
    font-size: 30px;
    line-height: 35px; }
  /* ****************************FOOTER*******/
  .redes {
    font-size: 23px; } }

@media (max-width: 768px) {
  .navbar-nav a {
    font-size: 20px; }
  .imgLogo {
    width: 90px;
    height: 90px; }
  /* PAGINA INICIO SECCION 1*/
  .seccion-1 {
    gap: 4%; }
  /* TITULO REGALOS EXCLUSIVOS Y PERSONALIZADOS*/
  .titulo-regalos h1 {
    font-size: 35px; }
  .seccion-1 .logo {
    width: 100px;
    height: 100px; }
  /* PAGINA INICIO SECCION-3 */
  .novedades {
    font-size: 30px;
    padding: 50px; }
  .seccion-3 p {
    font-size: 20px; }
  .seccion-3 {
    gap: 50px;
    padding-top: 20px; }
  /* CIRCULO TAZA - REMERA - ALMOHADON */
  .seccion-3 img {
    height: 300px;
    width: 300px;
    border-width: 2px; }
  /* LOGO DE WATSSAPP */
  .varWatt img {
    width: 100px; }
  /* *******************************PAGINA INICIO QUINES SOMOS*/
  .sec1-quienessomos {
    justify-content: center;
    padding: 0;
    gap: 0; }
  .textoLogo {
    font-size: 34px; }
  .varLogo {
    width: 100px;
    height: 100px; }
  .sec1-quienessomos h2 {
    font-size: 20px; }
  /* sector 2 */
  .sec2-quienessomos, .sec3-quienessomos {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%; }
  /* sector 3 */
  .sec3-quienessomos p {
    font-size: 23px;
    line-height: 30px; }
  /* *****************************************************PAGINA INICIO CONTACTO*/
  .sec1-contacto {
    justify-content: center;
    padding: 0;
    gap: 0; }
  .sec1-contacto h2 {
    font-size: 30px; }
  /* sector 2 */
  .sec2-contacto {
    padding-left: 70px; }
  .sec2-contacto p {
    font-size: 20px; }
  .varContactowatt {
    width: 130px;
    height: 130px; }
  /* sector 3 */
  .sec3-contacto {
    gap: 20px; }
  .varAddress {
    font-size: 20px; }
  .sec3-mapa {
    border-width: 2px;
    margin-bottom: 15%;
    margin-top: 5%; }
  /* *******************************************************PAGINA PRODUCTOS*/
  .sec1-productos {
    justify-content: center;
    padding: 0;
    gap: 0; }
  .sec1-productos h2 {
    font-size: 30px;
    margin: 0; }
  /* seccion2 */
  .sec2-productos {
    padding-bottom: 8%;
    gap: 20px; }
  .sec2-productos p {
    font-size: 13px; }
  .prod-img {
    width: 170px;
    height: 180px;
    border: solid 3px #f5b2df; }
  /****************************************************** PAGINA FECHAS ESPECIALES*/
  .sec1-fecescpeciales {
    justify-content: center;
    padding: 0;
    gap: 0; }
  .sec1-fecescpeciales h2 {
    font-size: 30px;
    margin: 0; }
  /* seccion2 */
  .sec2-fecescpeciales {
    padding-bottom: 8%;
    gap: 20px; }
  .sec2-fecescpeciales p {
    font-size: 13px; }
  .esp-img {
    width: 170px;
    height: 180px;
    border: solid 3px #40dae6; }
  /* ****************************FOOTER*******/
  .redes {
    font-size: 21px; }
  /* LOGO DE INSTAGRAM */
  .varInstagram {
    width: 40px;
    height: 40px; }
  /* LOGO DE FACEBOOK */
  .varFacebook {
    width: 40px;
    height: 40px; } }

@media (max-width: 425px) {
  /* *******************************PAGINA INICIO*****/
  .navbar-nav a {
    font-size: 17px; }
  /* TITULO REGALOS EXCLUSIVOS Y PERSONALIZADOS*/
  .titulo-regalos h1 {
    font-size: 30px;
    margin-left: 15%; }
  /* PAGINA INICIO SECCION-3 */
  .novedades {
    padding: 20px; }
  /* PAGINA QUIENES SOMOS SECCION-3 */
  .sec3-quienessomos p {
    font-size: 19px;
    line-height: 25px; }
  .sec3-quienessomos p::first-letter {
    font-size: 30px; }
  /* ****************************FOOTER*******/
  .redes {
    font-size: 19px; } }

@media (max-width: 320px) {
  .navbar-nav a {
    font-size: 15px; }
  .imgLogo {
    width: 80px;
    height: 80px; }
  /* PAGINA INICIO SECCION 1*/
  .seccion-1 {
    height: auto;
    gap: 3%; }
  /* TITULO REGALOS EXCLUSIVOS Y PERSONALIZADOS*/
  .titulo-regalos h1 {
    font-size: 25px;
    padding-left: 20px; }
  .seccion-1 .logo {
    width: 70px;
    height: 70px; }
  /* PAGINA INICIO SECCION-3 */
  .novedades {
    font-size: 25px;
    padding: 10px; }
  .seccion-3 p {
    font-size: 18px; }
  .seccion-3 {
    justify-content: center;
    align-content: baseline;
    align-items: center; }
  /* CIRCULO TAZA - REMERA - ALMOHADON */
  .seccion-3 img {
    height: 200px;
    width: 200px; }
  /* LOGO DE WATSSAPP */
  .varWatt img {
    width: 80px; }
  /************************************************************************ PAGINA QUINES SOMOS*/
  .sec1-quienessomos h2 {
    align-items: end;
    font-size: 25px; }
  .varLogo {
    width: 70px;
    height: 70px; }
  /* sector 2 */
  .sec2-quienessomos, .sec3-quienessomos {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%; }
  .textoLogo {
    font-size: 18px; }
  /* sector 3 *******************************/
  .sec3-quienessomos p {
    font-size: 18px;
    line-height: 20px; }
  .sec3-quienessomos p::first-letter {
    font-size: 25px; }
  /* *********************************PAGINA INICIO CONTACTO*/
  .sec1-contacto h2 {
    font-size: 25px; }
  /* sector 2 */
  .sec2-contacto {
    padding-left: 30px; }
  .sec2-contacto p {
    font-size: 18px; }
  .varContactowatt {
    width: 90px;
    height: 90px; }
  /* sector 3 */
  .sec3-contacto {
    gap: 3px; }
  .varAddress {
    font-size: 18px; }
  .sec3-mapa {
    border-width: 1px; }
  /************************* PAGINA PRODUCTOS*/
  .sec1-productos {
    justify-content: center;
    padding: 0;
    gap: 0; }
  .sec1-productos h2 {
    font-size: 25px;
    margin: 0; }
  /* seccion2 */
  .sec2-productos {
    gap: 10px;
    padding: 20px;
    padding-bottom: 10%; }
  .sec2-productos p {
    font-size: 18px; }
  .sec2-productos img {
    width: 150px;
    height: 160px;
    border: solid 2px #f5b2df; }
  /************************ PAGINA FECHAS ESPECIALES*/
  .sec1-fecescpeciales {
    justify-content: center;
    padding: 0;
    gap: 0; }
  .sec1-fecescpeciales h2 {
    font-size: 25px;
    margin: 0; }
  /* seccion2 */
  .sec2-fecescpeciales {
    gap: 10px;
    padding: 20px;
    padding-bottom: 10%; }
  .sec2-fecescpeciales h2 {
    margin-left: 8px;
    font-size: 20px; }
  .sec2-fecescpeciales p {
    font-size: 18px; }
  .sec2-fecescpeciales img {
    width: 150px;
    height: 160px;
    border: solid 2px #40dae6; }
  /* ****************************FOOTER*******/
  .redes {
    font-size: 18px; }
  /* LOGO DE INSTAGRAM */
  .varInstagram {
    width: 30px;
    height: 30px; }
  /* LOGO DE FACEBOOK */
  .varFacebook {
    width: 30px;
    height: 30px; } }
