@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Comic+Neue&family=Days+One&family=Lilita+One&family=Nunito+Sans:wght@300&family=Unbounded:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Days+One&family=Lilita+One&family=Unbounded:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* TIPOGRAFIA 
font-family: 'Nunito Sans', sans-serif;
font-family: 'Unbounded', cursive;
*/
/* BODY */
.body {
  height: auto;
  width: 100%;
  background-image: url(../assets/foto/fondo.jpg);
  background-repeat: repeat-x;
  background-size: cover;
  flex-wrap: wrap; }

/* LOGO DE WATSSAPP */
.varWatt {
  position: fixed;
  line-height: 55px;
  bottom: 30px;
  right: 1%;
  z-index: 100; }

.varWatt img {
  width: 140px; }

/* PAGINA INICIO BARRA DE NAVEGACION */
.header {
  height: auto;
  width: 100%;
  background-color: #0018EF; }

.dropdown-menu {
  background-color: #0018EF; }

.imgLogo {
  height: 100px;
  width: 100px; }

.navbar-nav a {
  font-size: 22px;
  color: white; }

/* PAG INICIO SECCION-1 */
.seccion-1 {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%; }
  .seccion-1 div h1 {
    color: #50004C;
    font-style: italic;
    font-weight: inherit;
    font-size: 50px;
    padding: 20px; }

/* PAGINA INICIO SECCION-2 */
.seccion-2 {
  height: auto;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.foto-inicio {
  height: auto;
  max-width: 100%; }

/* PAGINA INICIO SECCION-3 */
.seccion-3 {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  padding-top: 30px;
  padding-bottom: 8%; }

.novedades {
  font-family: "Nunito Sans", sans-serif;
  color: black;
  font-size: 40px;
  font-weight: bolder; }

/* CIRCULO TAZA - REMERA - ALMOHADON */
.seccion-3 img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border-style: solid;
  border-color: cornflowerblue;
  border-width: 3px; }

.seccion-3 p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito Sans", sans-serif;
  color: black;
  font-size: 25px;
  font-weight: bolder; }

.carousel-item {
  transition: none; }

/***** sector 1 ******/
.sec1-quienessomos {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 200px;
  gap: 492px;
  margin-top: 1%;
  margin-bottom: 5%; }

/***** sector 2 ******/
.sec2-quienessomos {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6%;
  padding: 5%; }

.textoLogo {
  font-family: "Nunito Sans", sans-serif;
  color: black;
  font-size: 40px;
  font-weight: bolder;
  color: #50004C;
  padding-bottom: 4%; }

.foto-quienessomos {
  height: auto;
  width: 100%;
  margin: 0; }

/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */
.rotate-scale-up {
  -webkit-animation: rotate-scale-up 0.65s linear reverse;
  animation: rotate-scale-up 0.65s linear reverse; }

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0); }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg); }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg); } }

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0); }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg); }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg); } }

/******* sector 3****** */
.sec3-quienessomos {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0; }
  .sec3-quienessomos div p {
    height: auto;
    width: 100%;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bolder;
    color: black;
    font-size: 36px;
    line-height: 60px;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 8%; }
  .sec3-quienessomos div p::first-letter {
    color: #50004C;
    font-size: 40px; }

/* sector 1 */
.sec1-contacto {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 200px;
  gap: 555px;
  flex-wrap: wrap;
  margin-top: 1%;
  margin-bottom: 5%; }

/* sector 2 */
.sec2-contacto {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 150px;
  flex-wrap: wrap;
  margin-top: 5%; }
  .sec2-contacto div a img {
    height: 150px;
    width: 150px; }
  .sec2-contacto div p {
    font-family: "Nunito Sans", sans-serif;
    color: black;
    font-size: 25px;
    font-weight: bolder; }

.varContactowatt:hover {
  height: 170px;
  width: 170px; }

/* sector 3 */
.sec3-contacto {
  height: auto;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  padding: 3%; }
  .sec3-contacto div p {
    font-family: "Nunito Sans", sans-serif;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 8%; }
  .sec3-contacto div img {
    height: auto;
    max-width: 100%;
    border: solid 2px #0a521f;
    margin-bottom: 5%; }

.sec1-productos, .sec1-fecescpeciales {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 200px;
  margin-top: 1%;
  margin-bottom: 5%; }

/* seccion2 */
.sec2-productos, .sec2-fecescpeciales {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 5%; }
  .sec2-productos div, .sec2-fecescpeciales div {
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none; }
    .sec2-productos div img, .sec2-fecescpeciales div img {
      height: 290px;
      width: 280px;
      display: flex;
      border: solid 5px #40dae6; }
    .sec2-productos div p, .sec2-fecescpeciales div p {
      font-family: "Nunito Sans", sans-serif;
      color: black;
      font-size: 25px;
      font-weight: bolder;
      font-size: 20px;
      display: flex;
      justify-content: center; }
    .sec2-productos div a, .sec2-fecescpeciales div a {
      font-family: "Nunito Sans", sans-serif;
      color: black;
      font-size: 25px;
      font-weight: bolder;
      font-size: 15px; }
    .sec2-productos div .btn, .sec2-fecescpeciales div .btn {
      background-color: #88d0f1; }
    .sec2-productos div .btn:hover, .sec2-fecescpeciales div .btn:hover {
      background-color: #f5b2df;
      color: #14146b; }

/* seccion2 */
.sec2-fecescpeciales img {
  border: #f5b2df; }

.grid-footer {
  height: auto;
  width: 100%;
  background-color: #EDBFB5;
  align-items: center;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto; }

.grid-instagram {
  grid-column: 1; }

.grid-redes {
  grid-column: 2; }

.grid-face {
  grid-column: 3; }

/* LOGO DE INSTAGRAM */
.varInstagram {
  height: 60px;
  width: 60px; }

/* LOGO DE FACEBOOK */
.varFacebook {
  height: 60px;
  width: 60px; }

.redes {
  color: #50004C;
  font-family: "Unbounded", cursive;
  font-size: 25px;
  padding: 20px;
  padding-right: 20px; }

@media (max-width: 1024px) {
  /* *******************************PAGINA INICIO*****/
  /* TITULO REGALOS EXCLUSIVOS Y PERSONALIZADOS*/
  .seccion-1 div h1 {
    font-size: 45px; }
  .novedades {
    font-size: 35px; }
  .seccion-3 p {
    font-size: 22px; }
  /* *******************************PAGINA INICIO QUINES SOMOS*/
  /* sector 1 */
  .textoLogo {
    font-size: 37px; }
  /* sector 3 */
  .sec3-quienessomos p {
    font-size: 30px;
    line-height: 35px; }
  .sec3-quienessomos div p {
    font-size: 30px;
    line-height: 35px; }
  /* ****************************FOOTER*******/
  .redes {
    font-size: 23px; } }

@media (max-width: 768px) {
  .body {
    height: auto;
    width: 100%;
    background-image: url(../assets/foto/fondovertical.jpg); }
  .navbar-nav a {
    font-size: 20px; }
  .imgLogo {
    height: 90px;
    width: 90px; }
  /* PAGINA INICIO SECCION 1*/
  .seccion-1 {
    gap: 4%; }
  /* TITULO REGALOS EXCLUSIVOS Y PERSONALIZADOS*/
  .seccion-1 div h1 {
    font-size: 40px; }
  /* PAGINA INICIO SECCION-3 */
  .seccion-3 {
    gap: 50px;
    padding-top: 20px; }
  .novedades {
    font-size: 30px;
    padding: 50px; }
  .seccion-3 p {
    font-size: 20px; }
  /* CIRCULO TAZA - REMERA - ALMOHADON */
  .seccion-3 img {
    height: 300px;
    width: 300px;
    border-width: 2px; }
  /* LOGO DE WATSSAPP */
  .varWatt img {
    width: 100px; }
  /* *******************************PAGINA INICIO QUINES SOMOS*/
  .sec1-quienessomos {
    justify-content: center;
    padding: 0;
    gap: 0; }
  .textoLogo {
    font-size: 34px; }
  .varLogo {
    height: 100px;
    width: 100px; }
  .sec1-quienessomos h2 {
    font-size: 25px; }
  /* sector 2 */
  .sec2-quienessomos {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%; }
  /* sector 3 */
  .sec3-quienessomos div p {
    font-size: 23px;
    line-height: 30px; }
  /* *********************PAGINA INICIO CONTACTO*/
  .sec1-contacto {
    justify-content: center;
    padding: 0;
    gap: 0; }
    .sec1-contacto div h2 {
      font-size: 25px; }
  /* sector 2 */
  .sec2-contacto {
    padding-left: 70px; }
    .sec2-contacto div a img {
      height: 130px;
      width: 130px; }
    .sec2-contacto div p {
      font-size: 20px; }
  .varContactowatt:hover {
    height: 150px;
    width: 150px; }
  .sec3-contacto {
    gap: 20px; }
    .sec3-contacto div p {
      font-size: 20px; }
    .sec3-contacto div img {
      border-width: 2px;
      margin-bottom: 15%;
      margin-top: 5%; }
  /* **************************PAGINA PRODUCTOS*/
  .sec1-productos, .sec1-fecescpeciales {
    justify-content: center;
    padding: 0;
    gap: 0; }
    .sec1-productos div h2, .sec1-fecescpeciales div h2 {
      font-size: 25px;
      margin: 0; }
  /* seccion2 */
  .sec2-productos, .sec2-fecescpeciales {
    padding-bottom: 8%;
    gap: 60px; }
    .sec2-productos div p, .sec2-fecescpeciales div p {
      font-size: 18px; }
    .sec2-productos img, .sec2-fecescpeciales img {
      height: 180px;
      width: 170px;
      border: 3px; }
  /* ****************************FOOTER*******/
  .redes {
    font-size: 21px; }
  /* LOGO DE INSTAGRAM */
  .varInstagram {
    height: 40px;
    width: 40px; }
  /* LOGO DE FACEBOOK */
  .varFacebook {
    height: 40px;
    width: 40px; } }

@media (max-width: 425px) {
  /* *******************************PAGINA INICIO*****/
  .navbar-nav a {
    font-size: 17px; }
  /* TITULO REGALOS EXCLUSIVOS Y PERSONALIZADOS*/
  .seccion-1 div h1 {
    font-size: 35px;
    margin-left: 10%; }
  /* PAGINA INICIO SECCION-3 */
  .novedades {
    font-size: 27px;
    padding: 10px; }
  /* PAGINA QUIENES SOMOS SECCION-3 */
  .sec3-quienessomos p {
    font-size: 19px;
    line-height: 25px; }
  .sec3-quienessomos p::first-letter {
    font-size: 30px; }
  .sec3-quienessomos div p {
    font-size: 19px;
    line-height: 25px; }
  .sec3-quienessomos div p::first-letter {
    font-size: 30px; }
  /* ******************PAGINA INICIO CONTACTO*/
  .sec1-contacto div h2 {
    font-size: 25px; }
  /* sector 2 */
  .sec2-contacto div a img {
    height: 110px;
    width: 110px; }
  .sec2-contacto div p {
    font-size: 18px; }
  .varContactowatt:hover {
    height: 130px;
    width: 130px; }
  /* sector 3 */
  .sec3-contacto {
    gap: 20px;
    padding-left: 8%;
    padding-right: 8%; }
    .sec3-contacto div p {
      font-size: 18px; }
  /* ****************FOOTER*******/
  .redes {
    font-size: 19px; } }

@media (max-width: 320px) {
  .navbar-nav a {
    font-size: 15px; }
  .imgLogo {
    height: 80px;
    width: 80px; }
  /* PAGINA INICIO SECCION 1*/
  .seccion-1 {
    height: auto;
    gap: 3%; }
  /* TITULO REGALOS EXCLUSIVOS Y PERSONALIZADOS*/
  .seccion-1 div h1 {
    font-size: 30px;
    padding-left: 25px;
    margin: 0; }
  /* PAGINA INICIO SECCION-3 */
  .novedades {
    font-size: 23px;
    padding: 10px; }
  .seccion-3 p {
    font-size: 15px; }
  .seccion-3 {
    align-items: center;
    justify-content: center;
    align-content: center; }
  /* CIRCULO TAZA - REMERA - ALMOHADON */
  .seccion-3 img {
    height: 200px;
    width: 200px; }
  /* LOGO DE WATSSAPP */
  .varWatt img {
    width: 80px; }
  /************************ PAGINA QUINES SOMOS*/
  .sec1-quienessomos h2 {
    align-items: end;
    font-size: 20px; }
  .varLogo {
    height: 70px;
    width: 70px; }
  /* sector 2 */
  .sec2-quienessomos {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%; }
  .textoLogo {
    font-size: 15px; }
  /* sector 3 ***/
  .sec3-quienessomos div p {
    font-size: 15px;
    line-height: 20px; }
  .sec3-quienessomos div p::first-letter {
    font-size: 25px; }
  /* *********************************PAGINA INICIO CONTACTO*/
  .sec1-contacto div h2 {
    font-size: 20px; }
  /* sector 2 */
  .sec2-contacto {
    padding-left: 30px; }
    .sec2-contacto div a img {
      height: 90px;
      width: 90px; }
    .sec2-contacto div p {
      font-size: 15px; }
  .varContactowatt:hover {
    height: 110px;
    width: 110px; }
  /* sector 3 */
  .sec3-contacto {
    gap: 3px; }
  .varAddress {
    font-size: 15px; }
  .sec3-mapa {
    border-width: 1px; }
  .sec3-contacto {
    gap: 3px; }
    .sec3-contacto div p {
      font-size: 15px; }
    .sec3-contacto div img {
      border-width: 1px; }
  /* *********************PAGINA INICIO CONTACTO*/
  .sec1-contacto {
    justify-content: center;
    padding: 0;
    gap: 0; }
    .sec1-contacto div h2 {
      font-size: 20px; }
  /* sector 2 */
  .sec2-contacto div a img {
    height: 90px;
    width: 90px; }
  .sec2-contacto div p {
    font-size: 15px; }
  /* sector 3 */
  .sec3-contacto div p {
    font-size: 15px; }
  /************************* PAGINA PRODUCTOS*/
  .sec1-productos div h2, .sec1-fecescpeciales div h2 {
    font-size: 20px; }
  /* seccion2 */
  .sec2-productos, .sec2-fecescpeciales {
    gap: 30px;
    padding: 30px;
    padding-bottom: 10%; }
    .sec2-productos div p, .sec2-fecescpeciales div p {
      font-size: 15px; }
    .sec2-productos img, .sec2-fecescpeciales img {
      height: 160px;
      width: 150px;
      border: 2px; }
  /* ****************************FOOTER*******/
  .redes {
    font-size: 15px; }
  /* LOGO DE INSTAGRAM */
  .varInstagram {
    height: 30px;
    width: 30px; }
  /* LOGO DE FACEBOOK */
  .varFacebook {
    height: 30px;
    width: 30px; } }
