@media (max-width: 1024px){
    /* *******************************PAGINA INICIO*****/
    /* TITULO REGALOS EXCLUSIVOS Y PERSONALIZADOS*/
.titulo-regalos h1 {
    font-size: 40px;
    }
    .novedades {
        font-size: 35px;
        } 
/* *******************************PAGINA INICIO QUINES SOMOS*/
/* sector 1 */
.textoLogo{
    font-size: 37px; 
}
/* sector 3 */
.sec3-quienessomos p{
    font-size: 30px;
    line-height: 35px;  
}
}