@media (max-width: 425px){
        /* *******************************PAGINA INICIO*****/
        .navbar-nav a{ 
            font-size: 17px;
    } 
        /* TITULO REGALOS EXCLUSIVOS Y PERSONALIZADOS*/
.titulo-regalos h1 {
    font-size: 30px;
    margin-left: 15%;
    }
    /* PAGINA INICIO SECCION-3 */
    .novedades{
            padding: 20px;
}
  /* PAGINA QUIENES SOMOS SECCION-3 */
.sec3-quienessomos p {
    font-size: 19px;
    line-height: 25px;
}
.sec3-quienessomos p::first-letter{
    font-size: 30px;
}
/* ****************************FOOTER*******/
.redes{
    font-size: 19px;  
}
}
