@media (max-width: 320px){
    .navbar-nav a{ 
            font-size: 15px;
    } 
    .imgLogo{
        @include medidas (80px,80px);
    }
    /* PAGINA INICIO SECCION 1*/
    .seccion-1{
                height: auto;
                gap: 3%;
    }
    /* TITULO REGALOS EXCLUSIVOS Y PERSONALIZADOS*/
    .Tit-Regalos{
                    font-size: 30px; 
                    padding-left: 20px;
    } 
    /* PAGINA INICIO SECCION-3 */
    .novedades{
        font-size: 23px;
        padding: 10px;
}
.seccion-3 p{
font-size: 18px;  
}
    .seccion-3 { 
            @include flex-center;
    }
    /* CIRCULO TAZA - REMERA - ALMOHADON */
    .seccion-3 img{
        @include medidas (200px,200px);
    } 
    /* LOGO DE WATSSAPP */

        .varWatt img {
                width: 80px;
                }
    /************************************************************************ PAGINA QUINES SOMOS*/
            .sec1-quienessomos h2{
                        align-items: end;
                        font-size: 20px;
    }
    .varLogo{
        @include medidas (70px,70px);
    } 
    /* sector 2 */
    .sec2-quienessomos{
                @include flex-colum;
                gap: 5%;
    }
    .textoLogo{
                font-size: 18px;
    }
   /* sector 3 *******************************/
        .sec3-quienessomos p{
                        font-size: 18px;
                        line-height: 20px;  
    }
    .sec3-quienessomos p::first-letter{
        font-size: 25px;
}
/* *********************************PAGINA INICIO CONTACTO*/
.sec1-contacto h2{
    font-size: 20px;
}    
/* sector 2 */
.sec2-contacto{
    padding-left: 30px;
}
.sec2-contacto p{
    font-size: 18px;
}
.varContactowatt{
    @include medidas (90px,90px);
}
/* sector 3 */
.sec3-contacto{
    gap: 3px;
}
.varAddress{
    font-size: 18px;
}
.sec3-mapa{
            border-width: 1px;
        }
/************************* PAGINA PRODUCTOS*/
.sec1-productos{
    @include center;
}   
.sec1-productos h2{
    font-size: 20px;
    margin: 0;
}
/* seccion2 */
.sec2-productos{
    gap: 10px;
    padding: 20px;
    padding-bottom: 10%;
}
.sec2-productos p{
font-size: 18px;
}
.sec2-productos img{
        @include medidas (150px,160px);
        border: solid 2px rgb(245, 178, 223);
}
/************************ PAGINA FECHAS ESPECIALES*/
.sec1-fecescpeciales{
@include center;
}   
.sec1-fecescpeciales h2{
font-size: 20px;
margin: 0;
}
/* seccion2 */
.sec2-fecescpeciales{
gap: 10px;
padding: 20px;
padding-bottom: 10%;
}
.sec2-fecescpeciales h2{
    margin-left: 8px;
    font-size: 20px;
}
.sec2-fecescpeciales p{
font-size: 18px;
}
.sec2-fecescpeciales img{
    @include medidas (150px,160px);
    border: solid 2px rgb(64, 218, 230);
}
/* ****************************FOOTER*******/
.redes{
    font-size: 18px; 
}
        /* LOGO DE INSTAGRAM */
        .varInstagram {
            @include medidas (30px,30px);
        }
        /* LOGO DE FACEBOOK */
        .varFacebook {
            @include medidas (30px,30px);
        }  
} 