@media (max-width: 425px){
        /* *******************************PAGINA INICIO*****/
        .navbar-nav a{ 
            font-size: 17px;
    } 
        /* TITULO REGALOS EXCLUSIVOS Y PERSONALIZADOS*/
.titulo-regalos h1 {
    font-size: 30px;
    margin-left: 15%;
    }
}