@media (max-width: 320px){
    .navbar-nav a{ 
            font-size: 15px;
    } 
    .imgLogo{
        @include medidas (80px,80px);
    }
    /* PAGINA INICIO SECCION 1*/
    .seccion-1{
                height: auto;
                gap: 3%;
    }
    /* TITULO REGALOS EXCLUSIVOS Y PERSONALIZADOS*/
    .Tit-Regalos{
                    font-size: 30px; 
                    padding-left: 20px;
    } 
    /* PAGINA INICIO SECCION-3 */
    .novedades{
        font-size: 23px;
        padding: 10px;
}
.seccion-3 p{
font-size: 15px;  
}
    .seccion-3 { 
            @include flex-center;
    }
    /* CIRCULO TAZA - REMERA - ALMOHADON */
    .seccion-3 img{
        @include medidas (200px,200px);
    } 
    /* LOGO DE WATSSAPP */

        .varWatt img {
                width: 80px;
                }
    /************************************************************************ PAGINA QUINES SOMOS*/
            .sec1-quienessomos h2{
                        align-items: end;
                        font-size: 20px;
    }
    .varLogo{
        @include medidas (70px,70px);
    } 
    /* sector 2 */
    .sec2-quienessomos{
                @include flex-colum;
                gap: 5%;
    }
    .textoLogo{
                font-size: 15px;
    }
   /* sector 3 *******************************/
.sec3-quienessomos{
    div{
        p{
            font-size: 15px;
            line-height: 20px;  
        }         
            p::first-letter{
                font-size: 25px;
            }
    } 
} 
/* *********************************PAGINA INICIO CONTACTO*/
.sec1-contacto h2{
    font-size: 20px;
}    
/* sector 2 */
.sec2-contacto{
    padding-left: 30px;
}
.sec2-contacto p{
    font-size: 15px;
}
.varContactowatt{
    @include medidas (90px,90px);
}
/* sector 3 */
.sec3-contacto{
    gap: 3px;
}
.varAddress{
    font-size: 15px;
}
.sec3-mapa{
            border-width: 1px;
        }
 /* *********************PAGINA INICIO CONTACTO*/
.sec1-contacto{
    @include center;
        div{
            h2{
                font-size: 20px;
            }  
        }  
}              
/* sector 2 */
.sec2-contacto{
    div{
        a{
            img{ 
                @include medidas (90px,90px);
            } 
        } 
    }
    div{ 
        p{
            font-size: 15px;
        }
    }     
} 
  /* sector 3 */
.sec3-contacto{
        div{
            p{
                font-size: 15px;
            }    
        }   
}
/************************* PAGINA PRODUCTOS*/
.sec1-productos{
    @include center;
}   
.sec1-productos h2{
    font-size: 20px;
    margin: 0;
} 
/* seccion2 */
.sec2-productos{
    gap: 10px;
    padding: 20px;
    padding-bottom: 10%;
        div{
            p{
                font-size: 15px;
            }
        }     
        img{
            @include medidas (150px,160px);
                border: 2px;
        }
}    
/* ****************************FOOTER*******/
.redes{
    font-size: 15px; 
}
        /* LOGO DE INSTAGRAM */
        .varInstagram {
            @include medidas (30px,30px);
        }
        /* LOGO DE FACEBOOK */
        .varFacebook {
            @include medidas (30px,30px);
        }  
} 