@media (max-width: 425px){
        /* *******************************PAGINA INICIO*****/
        .navbar-nav a{ 
            font-size: 17px;
    } 
        /* TITULO REGALOS EXCLUSIVOS Y PERSONALIZADOS*/
    .seccion-1{
        div{
            h1{
                font-size: 35px;
                margin-left: 10%;
            } 
        }
    } 
    /* PAGINA INICIO SECCION-3 */
    .novedades{
            font-size: 27px;
            padding: 10px;
}
  /* PAGINA QUIENES SOMOS SECCION-3 */
.sec3-quienessomos p {
    font-size: 19px;
    line-height: 25px;
}
.sec3-quienessomos p::first-letter{
    font-size: 30px;
}
.sec3-quienessomos{
            div{
                p{
                    font-size: 19px;
                    line-height: 25px;
                }         
                    p::first-letter{
                        font-size: 30px;
                    }
            } 
}    
/* *********************PAGINA INICIO CONTACTO*/
.sec1-contacto{
        div{
            h2{
                font-size: 25px;
            }  
        }  
}              
/* sector 2 */
.sec2-contacto{
    div{
        a{
            img{ 
                @include medidas (110px,110px);
            } 
        } 
    }
    div{ 
        p{
            font-size: 18px;
        }
    }     
}   
.sec3-contacto{
    gap: 20px;
    padding-left: 8%;
    padding-right: 8%;
        div{
            p{
                font-size: 18px;
            }    
    }
}     
/* ****************************FOOTER*******/
.redes{
    font-size: 19px;  
}
} 
