@mixin medidas{
    width: 100%;
    height: auto;
}
@mixin medidas-max{
    max-width: 100%;
    height: auto; 
}
@mixin medidas-60{
    width: 60px;
    height: 60px; 
}
@mixin medidas-100{
    width: 100px;
    height: 100px; 
}
@mixin margin{
    margin-top: 1%;
    margin-bottom: 5%;
}
@mixin flex-center{
    align-items: center;
    justify-content: center;
    align-content: center;
}
@mixin flex-cont{
    display: flex;
    justify-content: center;
    } 
@mixin flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-left{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 200px;
}
@mixin flex-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
@mixin grid ($col,$row){
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
}
@mixin redes{
    font-family:$tipografia-principal;
    font-size: 23px;
    padding: 20px;
    padding-right: 20px;
}
@mixin titulo{
    font-style: italic;
    font-weight: inherit;
    font-size: 45px; 
    padding: 20px;
}
@mixin novedades{
    font-family: $tipografia-secundaria;
    color: black;
    font-size: 40px;  
    font-weight: bolder;
}
@mixin parrafos{
    font-family: $tipografia-secundaria;
    color: black;
    font-size: 20px;   
    font-weight: bolder;
}
@mixin titulos-secundarios{
    font-family:$tipografia-secundaria;
    font-weight: bolder;
    color: black;
    font-size: 36px;
    line-height: 50px; 
    flex-wrap: wrap; 
}
@mixin circulos{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 3px;
}
@mixin productos{
    display: flex;
    width: 280px;
    height: 290px;
}