/***** sector 1 ******/
.sec1-quienessomos{
    @include medidas;
    @include flex-left;
    gap: 492px;
    @include margin;
    } 
/***** sector 2 ******/
.sec2-quienessomos{
    @include medidas;
    @include flex-wrap;
    gap: 6%;
}
.textoLogo{
    @include novedades;
    color:$color-texto-principal;
 
}
.foto-quienessomos{
    @include medidas;
    margin: 0;
}
/******* sector 3****** */
.sec3-quienessomos{
    @extend .sec2-quienessomos;
    gap: 0;

}
.sec3-quienessomos p{
    @include medidas;
    @include titulos-secundarios;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 8%;
}
.sec3-quienessomos p::first-letter{
    color:$color-texto-principal;
    font-size: 40px;
}