/* sector 1 */
.sec1-contacto{
    @include medidas (100%,auto);
    @include flex(center,left);
    padding-left: 200px;
    gap: 555px;
    flex-wrap: wrap;
    @include margin (1%,5%);
    }
/* sector 2 */
.sec2-contacto{
    @include medidas (100%,auto);
    display: flex;
    align-items: center;
    padding-left: 150px;
    flex-wrap: wrap;
    margin-top: 5%;
    div{
        a{
            img{ 
                @include medidas (150px,150px);
            } 
        } 
    }
    div{ 
        p{
            @include parrafos; 
        }
    }     
}         
/* sector 3 */
.sec3-contacto{
    @include medidas-max (100%,auto);
    @include flex(center,center);
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    padding: 3%;
    div{
        p{
            @include parrafos; 
            margin-bottom: 8%; 
        }
    }
    div{
        img{
            @include medidas-max (100%,auto);
            border: solid 2px rgb(10, 82, 31);
            margin-bottom: 5%; 
        }
    }     
}