.sec1-fecescpeciales{
    @include medidas (100%,auto);
    @include flex(center,left);
    padding-left: 200px;
    @include margin (1%,5%);
    gap: 467px;
}
/* seccion2 */
.sec2-fecescpeciales{
    @include medidas (100%,auto);
    @include flex-cont;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 5%;
    div{
        img{
            @include medidas (280px,290px);
            display: flex;
            border: solid 5px rgb(64, 218, 230);
        }
            p{
                @include parrafos;
                font-size: 15px; 
                @include flex-cont;
            }
    }
}
