.sec1-productos{
    @include medidas (100%,auto);
    @include flex(center,left);
    padding-left: 200px;
    @include margin (1%,5%);
}
/* seccion2 */
.sec2-productos{
    @include medidas (100%,auto);
    @include flex-cont;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 5%;
    div{
        padding:0;
        margin: 0;
        border: 0;
        @include flex(center,center);
        background :none;
        img{
            @include medidas (280px,290px);
            display: flex;
            border: solid 5px rgb(64, 218, 230);
        }
        p{
        @include parrafos;
        font-size: 20px; 
        @include flex-cont;
        }
        a{
            @include parrafos;
            font-size: 15px; 
        }
            .btn{
                background-color: rgb(136, 208, 241);
            }
                
    }
}



